.container {
    display: flex;
    flex-flow: row nowrap;
    width: fit-content;
    border: 2px solid var(--foreground-color);
    height: 42px;
    border-radius: 21px;
}

.option {
    cursor: pointer;
    line-height: 40px;
    vertical-align: middle;
    padding: 0 16px;
    font-size: 14px;
    font-weight: 600;
}

.option:first-child {
    border-top-left-radius: 21px;
    border-bottom-left-radius: 21px;
}

.option:last-child {
    border-top-right-radius: 21px;
    border-bottom-right-radius: 21px;
}

.option.current {
    background-color: var(--foreground-color);
}